AUTH_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
AUTH_GOOGLE_ID="xxxxxxxxxxxxxxxxxxxxxxxx"
AUTH_GOOGLE_SECRET="xxxxxxxxxxxxxxxxxxxxxxxx"

DATABASE_URL="postgresql://user:password@xxxxx-pooler.region.aws.neon.tech/dbname?sslmode=require"
DIRECT_URL="postgresql://user:password@xxxxx.region.aws.neon.tech/dbname?sslmode=require"
